.wrapper {
    width: 100%;
    /* min-height: 100%; */
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
      grid-template-rows: 50px auto;
      grid-template-areas:
          ". . h h h h h h h h h h . ."
          ". . . c c c c c c c c . . .";
    grid-gap: 20px;
}

.content {
    grid-area: c;
    background-color: #ffffff;
    margin-top: 20px;
  
}
.header {
      grid-area: h;
      background-color: #444;
      margin: 0px;
      padding-left: 20px;
      padding-bottom: 10px;
      
}

.colorizedA {
  color: #444;
}