.inputTitle, .inputBody {
    padding: 5px;
    border: 2px solid #444;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 400px;
}

.submitSpan {
    padding: 5px 20px;
    border: 2px solid #444;
    background-color: #ddd;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 20px;
    
}