.inputTitle, .inputBody {
    padding: 5px;
    border: 2px solid #444;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 600px;
}

.submitSpan {
    padding: 5px 20px;
    border: 1px solid #444;
    background-color: #fdfdfd;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    
}