.postTitle {
    margin-top: 20px;
}

.postBody {
    text-align: justify;
    margin: 40px 0px;
    line-height: 28px;
    font-size: 20px;
}

.inputTitle, .inputBody {
    padding: 5px;
    border: 2px solid #444;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 600px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

}

.inputBody {
height: 100px;
}

.submitSpan {
    color: #3eb0ef;
    margin: 0 .5em .2em;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .1px;
    text-transform: uppercase;
    cursor: pointer;
}

.commentsTitle{
    margin-top: 2em;
}

.commentLine{
    margin-top: 20px;
    padding-bottom: 4px;
    border-bottom: 1px solid #eaeff1;
    line-height: 24px;
    font-size: 18px;
}